html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #FFF;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}

/**********************************************************************
*
*  						NAVIGATION
*
**********************************************************************/

.nav{
}

.nav-img {
	width: 35px;
	background-color: rgba(0,0,0,0.5);
}

.nav-link-home {
	position: absolute;
	top: 0px;
	right:0px;
	padding-bottom: 15px;
}

.nav-link-settings {
	position:absolute;
	top: 50px;
	right: 0px;
}

/**********************************************************************
*
*  						WEATHER MODULE
*
**********************************************************************/

.weather-module {
	width: 300px;
	background: rgba(0,0,0,0.5);
}

.weather-location{
	font-size: 1.5em;
}

.temperature {
	text-align: center;
}

.current-temperature {
	font-size: 2.5em;
	color: #FFF;
}

.wunderground-api {
	margin: auto;
	text-align: center;
}

.wunderground_logo {
	clear: both;
	width: 107px;
}


/**********************************************************************
*
*  						NAVIGATION
*
**********************************************************************/


/**********************************************************************
*
*  						NAVIGATION
*
**********************************************************************/



/**********************************************************************
*
*  						NAVIGATION
*
**********************************************************************/



/**********************************************************************
*
*  						NAVIGATION
*
**********************************************************************/


/**********************************************************************
*
*  						SETTINGS
*
**********************************************************************/

/*
* 						Change Background
*/

.changeBackground {
	background: rgba(0,0,0,0.5);
	margin: auto;
	text-align: center;
	width: 50%;
}

