/*html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}*/

/**, *:before, *:after {
  box-sizing: inherit;
}*/

body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #FFF;
  background-image: url(./assets/background.jpg);
  height: 100vh;
  background-size: cover;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}

/**********************************************************************
*
*  						NAVIGATION
*
**********************************************************************/

.nav{
}

.nav-img {
	width: 35px;
	background-color: rgba(0,0,0,0.5);
}

.nav-link-home {
	position: fixed;
	top: 0px;
	right:0px;
	padding-bottom: 15px;
}

.nav-link-settings {
	position:fixed;
	top: 0px;
	right: 0px;
}

/**********************************************************************
*
*  						WEATHER MODULE
*
**********************************************************************/

.weather-module {
	width: 200px;
	background: rgba(0,0,0,0.5);
	position: fixed;
	top: 100px;
}

.weather-location{
	font-size: 1.5em;
}

.temperature {
	text-align: center;
}

.current-temperature {
	font-size: 2.5em;
	color: #FFF;
}

.wunderground-api {
	margin: auto;
	text-align: center;
}

.wunderground_logo {
	clear: both;
	width: 107px;
}


/**********************************************************************
*
*  						TIME
*
**********************************************************************/

.time-module {
	background: rgba(0,0,0,0.5);
	position: fixed;
	width: 200px;
	top: 0px;
	margin: auto;
	text-align: center;
}

.time-time {
	font-size: 2em;
}

.time-timezone{

}

.time-year {

}

.time-date {

}

.calendar {
/*	background: rgba(255,0,0,0.35);
*/	width: 100%;
	font-size: .75em;
}

/**********************************************************************
*
*  							NEWS
*
**********************************************************************/
.news {
	position: fixed;
	right: -400px;
	top: 150px;
	background-color: rgba(0,0,0,0.5);
	width: 400px;
	height: 440px;
	overflow: visible;
}

.news a{
	color: #CC9;
}

.news a:visited {
	color: #FFF;
}

.nytimes {
	height: 40px;
	width: 100%;
	background-image: url(./assets/nyt-header.png);
	background-repeat: no-repeat;
	background-color: #000;
	position: fixed;
	cursor: pointer;
}

.nytimes-app {
	padding-top: 5px;
	padding-bottom: 5px;
	position: fixed;
	cursor: pointer;
	right: 0px;
	display: block;
	overflow: visible;
}

.nytimes-close {
	padding-top: 5px;
	padding-bottom: 5px;
	position: fixed;
	cursor: pointer;
	right: 0px;
	display: none;
	border-left: 1px dotted #FFFFFF;
	padding-left:5px;
}

.news-snippets {
	margin-top: 40px;
}

.article-title {
	font-size: 1.2em;
	font-weight: bold;
	color: #FFF;
	cursor: pointer;
}

.article{
	font-size: .9em;
	color: #FFF;
	display: none;
}

.snippet {
	min-height: 76px;
	border-bottom: 1px dotted #FFF;
	margin-bottom: 8px;
}

.thumbnail {
	float: left;
	width: 75px;
	height: 75px;
}

/**********************************************************************
*
*  						SETTINGS
*
**********************************************************************/

.settings {
	background: rgba(0,0,0,0.5);
	position: fixed;
	top: 0px;
	right: 35px;
	width: 600px;
	text-align: center;
	display:none;
	z-index: 100;
}

/*
* 						Change Background
*/

.changeBackground {
	text-align: center;
}

